<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desarrollo.kuky.answersoft">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.UIListaProductos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UIPresupuesto"
            android:label="@string/title_activity_uipresupuesto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UIParametros"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.UILogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UIClientes"
            android:configChanges="orientation"
            android:label="@string/title_activity_clientes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.UIProductos"
            android:configChanges="orientation"
            android:label="@string/title_activity_uiproductos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.UIClienteSeleccionado"
            android:configChanges="orientation"
            android:label="@string/title_activity_uicliente_seleccionado"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.UIProductoSeleccionado"
            android:configChanges="orientation"
            android:label="@string/title_activity_uiproducto_seleccionado"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.UIConfiguracion" />
        <activity
            android:name=".ui.UIPrincipal"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>